.oraj__work {
    display:flex;
    
}

.oraj__work-content {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0;
    margin-top: 5vw;
}

.oraj__work-content_uppertext{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oraj__work-content_uppertext h1{

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 100%;
    color: var(--color-subtext);
    margin-bottom: 1rem;
}

.oraj__work-content_uppertext h2{

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 137.5%;
    color: var(--color-text);
}


.oraj__work-content_container {
    margin-top: 5vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5vw;
}

.oraj__work-content_toastcoin {
    filter: drop-shadow(0px 1.5vh 1.5vw rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.06));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5vw;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    margin-top: 5vh;
    

}

.oraj__work-content_toastcoin:hover {
    
    cursor: pointer;
    -moz-transform: scale(1.02,1.02);
    -webkit-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);    
}

.oraj__work-content_toastcoinbg {
    height: auto;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: #FAF3FC;
    border-radius: 5vw;
}


.oraj__work-content_toastcoinright {
    border-radius: 0 5vw 5vw 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.oraj__work-content_toastcoinimg {
    border-radius: 0 5vw 5vw 0;
    filter: drop-shadow(0px 1px 250px rgba(0, 0, 0, 0.12));
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

.oraj__work-content_toastcoinimg img {
    border-radius: 0 5vw 5vw 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.oraj__work-content_toastcoinleft {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 5%;
    width: 50%;
    height: auto;
}

.oraj__work-content_toastcointextbox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.oraj__work-content_toastcointags {
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
}

.oraj__work-content_toastcointagsbox {
    display: flex;
    border-radius: 50px;
    padding: 0.7% 2.3% 0.7% 2.3%;
    border: 1px solid #CECECE;
}

.oraj__work-content_toastcointags h1 {
    color: var(--color-subtext);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1vw;
}

.oraj__work-content_toastcoinlogo {
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.oraj__work-content_toastcoinlogo img {
height: 2vw;
}

.oraj__work-content_toastcoinlogo h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 137.5%;
    color: var(--color-text);
}

.oraj__work-content_toastcoindescription {
    margin-top: 1.5vw;
}

.oraj__work-content_toastcoindescription h1 {
    display: flex;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 137.5%;
    color: var(--color-subtext);
}

.oraj__work-content_toastcoindescription h2 {
    display: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 137.5%;
    color: var(--color-subtext);
}


.oraj__work-content_toastcoinbutton {
    display: flex;
    align-items: flex-end;
    height: 100%;
    cursor:pointer;
    margin-top: none;
}

.oraj__work-content_toastcoinbutton button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius: 40px;
    border: 0px;
    padding: 0rem 0rem;
}

.oraj__work-content_toastcoinbutton h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1vw;
    color: var(--color-text);
    text-decoration: underline 2px;
}

.oraj__work-content_toastcoinbutton img {
    height: 1vw;
    width: 1vw;
    margin-left: 0.5vw;
    
}

.oraj__work-content_muspacebg {
    height: auto;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: #F3F7FC;
    border-radius: 5vw;
}














@media screen and (max-width: 1920px) {
    .oraj__work-content_uppertext h1{
        font-size: 1.3vw;
        margin-bottom: 0.8vh;
    }

}

@media screen and (max-width: 1600px) {


}

@media screen and (max-width: 1440px) {
    .oraj__work-content_uppertext h1{
        font-size: 1.4vw;
    }

}

@media screen and (max-width: 1214px) {

    .oraj__work-content_uppertext h1{
        font-size: 1.7vw;
    }
    .oraj__work-content_uppertext h2{
        font-size: 2.1vw;
    }


}

@media screen and (max-width: 750px) {

    .oraj__work-content_toastcoin {
        filter: drop-shadow(0px 9px 10px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.06));
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10vw;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

    .oraj__work-content_toastcoindescription h1 {
        display: none;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.2vw;
        line-height: 137.5%;
        color: var(--color-subtext);
    }
    
    .oraj__work-content_toastcoindescription h2 {
        display: flex;
        color: var(--color-subtext);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 2.8vw;
    }

    .oraj__work-content_toastcoinleft {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 8% 8% 8% 8%;
    }

    .oraj__work-content_toastcoinbg {
        height: 100%;
        width: 100%;
        overflow: none;
        flex-direction: column;
        display: flex;
        background-color: #FAF3FC;
        border-radius: 10vw;
    }

    .oraj__work-content_muspacebg {
    
        height: 100%;
        width: 100%;
        overflow: none;
        flex-direction: column;
        display: flex;
        background-color: #F3F7FC;
        border-radius: 10vw;
    }

    .oraj__work-content_toastcointags {
        width: 100%;
        gap: 0.4rem;
    }

    .oraj__work-content_toastcointagsbox {
        width: auto;
        display: flex;
        border-radius: 20px;
        padding: 1.5% 2% 1.5% 2%;
        border: 1px solid #CECECE;
    }

    .oraj__work-content_toastcointags h1 {
        color: var(--color-subtext);
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 2.4vw;
    }

    .oraj__work-content_toastcointags h2 {
        display: flex;
        color: var(--color-subtext);
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 2.4vw;
    }
    
    .oraj__work-content_toastcoinlogo {
        margin-top: 4vw;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
    }
    
    .oraj__work-content_toastcoinlogo img {
        height: 5vw;
    }
    
    .oraj__work-content_toastcoinlogo h1 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 5vw;
        line-height: 137.5%;
        color: var(--color-text);
    }

    .oraj__work-content_toastcoindescription {
        margin-top: 4vw;
    }
    


    .oraj__work-content_toastcoinbutton {
        margin-top: 8vw;
    }

    .oraj__work-content_toastcoinbutton h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 3vw;
        line-height: 1vw;
        color: var(--color-text);
        text-decoration: underline 1px;
    }
    
    .oraj__work-content_toastcoinbutton img {
        height: 3vw;
        width: 3vw;
        margin-left: 0.5vw;    
    }

    .oraj__work-content_toastcoinright {
        border-radius: 0 0 10vw 10vw;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .oraj__work-content_toastcoinimg {
        border-radius: 0 0 10vw 10vw;
        filter: drop-shadow(0px 1px 250px rgba(0, 0, 0, 0.12));
        display: flex;
        width: 100%;
        height: 100%;
        background-size: cover;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .oraj__work-content_toastcoinimg img {
        border-radius: 0 0 10vw 10vw;
        flex: none;
        order: 0;
        flex-grow: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }






    .oraj__work-content_uppertext h1{
        font-size: 16px;
    }

    .oraj__work-content_uppertext h2{
        font-size: 20px;
    }

}

@media screen and (max-width: 450px) {

    .oraj__work-content_toastcoindescription h2 {
        display: flex;
        color: var(--color-subtext);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
    }

    .oraj__work-content_toastcoinbutton h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 1vw;
        color: var(--color-text);
        text-decoration: underline 1px;
    }

    .oraj__work-content_toastcoinbutton img {
        height: 1rem;
        width: 1rem;
        margin-left: 0.5vw;    
    }

}