@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;

    --gradient-bar: linear-gradient(90deg, #9E00FF 0.39%, #007BFF 100%);
    --gradient-weare: linear-gradient(90deg, #BD9899 0%, #FAB899 31.77%, #FCB89C 52.6%, #F2A8A0 74.48%, #D78BAF 100%);

    --color-bg: #ffffff;
    --color-footer: #0E0E0E;
    --color-article1: #FAF3FC;
    --color-article2: #F3F7FC;
    --color-text: #2C2C2C;
    --color-subtext: #6C6C6C;
    --color-lighttext: #AAAAAA;
    --color-border: #CECECE;

}